img {
    max-width: 100%;
}
#LakersHistoryHeader {
    text-align: center;
    color:black;
}

nav a {
    display: inline;
    position: relative;
    left:950px;
    color:purple;
}

.players {
    display: inline;
    
}

.players h4 {
    display: inline;
    text-decoration: underline;
    font-weight: bold;
    color:purple;
}
ul {
    font-size: small;
    
}
#logo {
    position: relative;
    right: 350px;
    
}
